<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gmaps">

    <meta-data android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyC18ZjHAMwcn61WEqJII6PLAxd2XIFbcSQ"/>
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
